body{
			
			font-family: Lucidia Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif;
			color: #3f3f3f;
			font-size: 12px;
			background-color: #f2f2f2;
			margin-left:10%;
            margin-right: 10%;
			
			}
			h1 { 
			font-size: 24px; line-height: 36px; }
			h2 { 
			font-size: 16px; }
			li { 
			list-style-type: none;}
			a { color: #08c; }
			a:link, a:visited, a:active { text-decoration: none; }
			a:hover { text-decoration: underline; }
			a.block { display: block; }
			a.block span,
			a.block em { color:#08c; }
			a.block:hover { text-decoration: none; }
			a.block:hover span,
			a.block:hover em { color: #08c; text-decoration: underline; }